* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

body {
  font-family: 'Lato', 'Inconsolata', 'Helvetica Neue', sans-serif;
  position: relative;
  color: #4c4c4c;
  font-size: 17px;
  line-height: 27px;
  font-weight: 400;
  background: #fbfbfb;
  overflow-x: hidden;
  vertical-align: baseline;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 5fr 2fr;
}

.hide {
  display: none !important;
  opacity: 0;
}

.show {
  transition: opacity 400ms ease-in;
  opacity: 1 !important;
}

/*Hide scrollbars*/
::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2em;
  font-weight: 200;
}

h2 {
  font-size: 1.85em;
  font-weight: 200;
}

h3 {
  font-size: 1.45em;
  font-weight: 200;
}

h4 {
  font-size: 1em;
  font-weight: 600;
}

.header {
  grid-column: 2 / span 10;
  position: relative;
  display: table;
  vertical-align: baseline;
  width: 100%;
  height: 90px;
  border: 0;
  margin: 0;
  padding-top: 10vh;
}

.header>div {
  display: table-cell;
  vertical-align: middle;
}

.header .menu {
  max-width: 1296px;
  position: relative;
  margin: auto;
}

.header nav {
  align-items: center !important;
  display: flex !important;
}

.header ul {
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  padding: 0;
}

.header nav li {
  list-style: none !important;
  display: flex !important;
  margin-right: 0.5em;
  text-transform: uppercase;
}

.header nav li .navlink {
  font-weight: 800;
  font-size: 0.8em;
  color: #707070;
}

.header nav li .navlink.active {
  color: #000000;
}

.txt-btn {
  cursor: pointer;
}

#fullscreenNav {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  align-items: center;
  text-align: center;
}

#fullscreenNav .backdrop {
  background-color: #000000;
  background-blend-mode: overlay;
  height: 100%;
  width: 100%;
  opacity: 0;
  margin: auto;
}

#fullscreenNav .txt-btn {
  padding: 10vh 0 1vw 0;
  color: #fbfbfb;
  display: block;
}

#fullscreenNav ul {
  padding: 0;
  padding-top: 2vh;
}

#fullscreenNav li {
  list-style: none !important;
  margin-right: 0.5em;
  text-transform: uppercase;
}

#fullscreenNav li .navlink {
  font-weight: 800;
  font-size: 0.8em;
  color: #7d7d7d;
}

#fullscreenNav li .navlink.active {
  color: #ffffff;
}

.content {
  grid-column: 2 / span 10;
  color: #7d7d7d;
  font-size: 14px;
  line-height: 24px;
  padding: 3vh 0 6vh;
  font-weight: 500;
  text-align: left;
}

.footer {
  grid-column: span 12;
  background: #ededed;
  color: #7d7d7d;
  font-size: 14px;
  line-height: 24px;
  padding: 90px 0 50px;
  font-weight: 500;
  text-align: center;
}

.footer .container {
  max-width: 1296px;
  margin: auto;
  position: relative;
}

.footer-social {
  margin-bottom: 2rem;
}

.footer-copyright {
  font-size: 0.75rem;
  margin-bottom: 1rem;
  padding: 0 3rem;
  font-weight: 400;
}

.text-center {
  margin: auto;
  text-align: center;
}

.social-icon {
  font-size: 1.65rem;
  color: #7d7d7d;
  margin: 10px;
}

.social-icon:hover {
  color: #5f5f5f;
}

.default-logo {
  height: 29px;
  width: auto;
  margin-left: 10px;
}

.project-list {

}

.project-list li {
  list-style: none !important;
  text-align: center;
  padding: 20px 0;
}

.project-list .item {
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin: auto;
  width: 100%;
  max-width: 560px;
  height: 30vw;
  max-height: 200px;
}

.project-list h3 {
  font-size: 1.7em;
  color: #7d7d7d;
  padding: 12px 0;
}

.mail-bg {
  display: inline-block;
  background-color: #d6d6d6;
  height: 5px;
  transition: height 0.15s ease-in;
}

.mail-bg:hover {
  height: calc(0.5em + 1.5vw);
}

.mail-bg a {
  font-size: calc(1em + 3vw);
  color: #000000;
}