<!doctype html>
<html lang="en">

<head>
  <title>{{ .Title }} - {{ .Site.BaseURL }}</title>
  <link rel="canonical" href="{{ .Permalink }}">
  {{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />{{ end }}
  <link rel="stylesheet" href="/css/style.css">

  {{ range .Site.Params.cdn_css }}
  <link rel="stylesheet" href="{{ . }}" />
  {{ end }}

</head>

<body id="body">
  <nav id="fullscreenNav" class="hide" role="navigation">
    <div class="backdrop">
      <a class="txt-btn" onclick="toggleFullscreenNav()"><i class="fa fa-close"></i></a>
      <ul class="" role="navigation">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
            <li>
                <a class="navlink {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" data-hotkey="h" aria-label="{{.Name}}" href="{{.URL}}">
                  <span>{{ .Title }}</span>
                </a>
              </li>
          {{ end }}
      </ul>
    </div>
  </nav>
  <div class="header">
    <nav role="navigation">
      <ul id="fixedNav" class="" role="navigation">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
            <li>
                <a class="navlink {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" data-hotkey="h" aria-label="{{.Name}}" href="{{.URL}}">
                  <span>{{ .Title }}</span>
                </a>
              </li>
          {{ end }}
      </ul>
      <a class="txt-btn" id='fullscreenNavBtn' onclick="toggleFullscreenNav()"><i class="fa fa-bars"></i></a>
    </nav>
  </div>